In [17]:
import pandas as pd
import numpy as np
import time
import requests 

from bs4 import BeautifulSoup as bs 
from collections import Counter
universe = pd.read_csv('universe.csv')

In [2]:
import os, sys

In [3]:
universe_list = list(universe['symbol'])

In [18]:
universe_list

['ABBV',
 'ACN',
 'AEP',
 'AIZ',
 'ALLE',
 'AMAT',
 'AMP',
 'AMZN',
 'AVB',
 'AVY',
 'AXP',
 'BDX',
 'BF-B',
 'BMY',
 'BR',
 'CARR',
 'CDW',
 'CE',
 'CHTR',
 'CNC',
 'CNP',
 'COP',
 'CTAS',
 'CZR',
 'DG',
 'DPZ',
 'DRE',
 'DXC',
 'META',
 'FTV',
 'GOOG',
 'GPC',
 'HIG',
 'HST',
 'JPM',
 'KR',
 'OGN',
 'PG',
 'PPL',
 'PRU',
 'PYPL',
 'RE',
 'ROL',
 'ROST',
 'UNH',
 'URI',
 'V',
 'VRSK',
 'WRK',
 'XOM',
 'IVV',
 'IWM',
 'EWU',
 'EWG',
 'EWL',
 'EWQ',
 'IEUS',
 'EWJ',
 'EWT',
 'MCHI',
 'INDA',
 'EWY',
 'EWA',
 'EWH',
 'EWZ',
 'EWC',
 'IEMG',
 'LQD',
 'HYG',
 'SHY',
 'IEF',
 'TLT',
 'SEGA.L',
 'IEAA.L',
 'HIGH.L',
 'JPEA.L',
 'IAU',
 'SLV',
 'GSG',
 'REET',
 'ICLN',
 'IXN',
 'IGF',
 'IUVL.L',
 'IUMO.L',
 'SPMV.L',
 'IEVL.L',
 'IEFM.L',
 'MVEU.L',
 'XLK',
 'XLF',
 'XLV',
 'XLE',
 'XLY',
 'XLI',
 'XLC',
 'XLU',
 'XLP',
 'XLB',
 'VXX',
 'BTC-USD',
 'ETH-USD',
 'BNB-USD',
 'ADA-USD',
 'XRP-USD',
 'SOL-USD',
 'DOGE-USD',
 'DOT-USD',
 'SHIB-USD',
 'AVAX-USD']

In [6]:
import yfinance as yf

In [8]:
goog = yf.Ticker('goog')
help(goog)

Help on Ticker in module yfinance.ticker object:

class Ticker(yfinance.base.TickerBase)
 |  Ticker(ticker, session=None)
 |
 |  Method resolution order:
 |      Ticker
 |      yfinance.base.TickerBase
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  option_chain(self, date=None, proxy=None, tz=None)
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  actions
 |
 |  analysis
 |
 |  balance_sheet
 |
 |  balancesheet
 |
 |  calendar
 |
 |  cashflow
 |
 |  dividends
 |
 |  earnings
 |
 |  earnings_dates
 |
 |  earnings_history
 |
 |  financials
 |
 |  info
 |
 |  institutional_holders
 |
 |  isin
 |
 |  major_holders
 |
 |  mutualfund_holders
 |
 |  news
 |
 |  options
 |
 |  quarterly_balance_sheet
 |
 |  quarterly_balancesheet
 |
 |  quarterly_cashflow
 |
 |  quarterly_earnings
 |
 |  quarterly_financials
 |
 |  recommendations
 |
 |  shares
 |
 |  splits
 |
 |  sustainability
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from yfinance.base.TickerBase:
 |
 |  __init__(self, ticker, session=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_actions(self, proxy=None)
 |
 |  get_analysis(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_balance_sheet(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_balancesheet(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_calendar(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_cashflow(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_dividends(self, proxy=None)
 |
 |  get_earnings(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_earnings_dates(self, proxy=None)
 |
 |  get_earnings_history(self, proxy=None)
 |
 |  get_financials(self, proxy=None, as_dict=False, freq='yearly')
 |
 |  get_info(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_institutional_holders(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_isin(self, proxy=None)
 |
 |  get_major_holders(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_mutualfund_holders(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_news(self, proxy=None)
 |
 |  get_recommendations(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_shares(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  get_splits(self, proxy=None)
 |
 |  get_sustainability(self, proxy=None, as_dict=False, *args, **kwargs)
 |
 |  history(self, period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, back_adjust=False, proxy=None, rounding=False, tz=None, timeout=None, **kwargs)
 |      :Parameters:
 |          period : str
 |              Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
 |              Either Use period parameter or use start and end
 |          interval : str
 |              Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
 |              Intraday data cannot extend last 60 days
 |          start: str
 |              Download start date string (YYYY-MM-DD) or _datetime.
 |              Default is 1900-01-01
 |          end: str
 |              Download end date string (YYYY-MM-DD) or _datetime.
 |              Default is now
 |          prepost : bool
 |              Include Pre and Post market data in results?
 |              Default is False
 |          auto_adjust: bool
 |              Adjust all OHLC automatically? Default is True
 |          back_adjust: bool
 |              Back-adjusted data to mimic true historical prices
 |          proxy: str
 |              Optional. Proxy server URL scheme. Default is None
 |          rounding: bool
 |              Round values to 2 decimal places?
 |              Optional. Default is False = precision suggested by Yahoo!
 |          tz: str
 |              Optional timezone locale for dates.
 |              (default data is returned as non-localized dates)
 |          timeout: None or float
 |              If not None stops waiting for a response after given number of
 |              seconds. (Can also be a fraction of a second e.g. 0.01)
 |              Default is None.
 |          **kwargs: dict
 |              debug: bool
 |                  Optional. If passed as False, will suppress
 |                  error message printing to console.
 |
 |  stats(self, proxy=None)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from yfinance.base.TickerBase:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [11]:
goog.history(period = '1y', back_adjust=False)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-15,142.199997,142.199997,141.064499,141.675003,21250000,0,0.0
2021-10-18,141.213501,142.998749,141.213501,142.960495,16564000,0,0.0
2021-10-19,143.291504,144.106995,143.095993,143.822006,15316000,0,0.0
2021-10-20,144.222504,144.247757,141.912003,142.414993,17940000,0,0.0
2021-10-21,142.192001,142.849503,141.636993,142.780502,14850000,0,0.0
...,...,...,...,...,...,...,...
2022-10-10,99.849998,99.989998,97.870003,98.709999,16529900,0,0.0
2022-10-11,98.250000,100.120003,97.250000,98.050003,21617700,0,0.0
2022-10-12,98.269997,99.648003,97.669998,98.300003,17343400,0,0.0
2022-10-13,95.930000,100.529999,95.269997,99.709999,32812200,0,0.0
2022-10-14,100.625000,101.290001,97.029999,97.180000,22612900,0,0.0

In [52]:
# goog = yf.Ticker('goog')

a  = goog.get_financials()

b = goog.financials

In [56]:
c = goog.balancesheet

In [57]:
pd.concat([b, c])

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,31562000000.0,27573000000.0,26018000000.0,21419000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,90734000000.0,48082000000.0,39625000000.0,34913000000.0
Minority Interest,None,None,None,None
Net Income,76033000000.0,40269000000.0,34343000000.0,30736000000.0
Selling General Administrative,36422000000.0,28998000000.0,28015000000.0,23256000000.0
Gross Profit,146698000000.0,97795000000.0,89961000000.0,77270000000.0
Ebit,78714000000.0,41224000000.0,35928000000.0,32595000000.0
Operating Income,78714000000.0,41224000000.0,35928000000.0,32595000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-346000000.0,-135000000.0,-100000000.0,-114000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,14701000000.0,7813000000.0,5282000000.0,4177000000.0
Total Revenue,257637000000.0,182527000000.0,161857000000.0,136819000000.0
Total Operating Expenses,178923000000.0,141303000000.0,125929000000.0,104224000000.0
Cost Of Revenue,110939000000.0,84732000000.0,71896000000.0,59549000000.0
Total Other Income Expense Net,12020000000.0,6858000000.0,3697000000.0,2318000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,76033000000.0,40269000000.0,34343000000.0,30736000000.0
Net Income Applicable To Common Shares,76033000000.0,40269000000.0,34343000000.0,30736000000.0
Intangible Assets,1417000000.0,1445000000.0,1979000000.0,2220000000.0
Total Liab,107633000000.0,97072000000.0,74467000000.0,55164000000.0
Total Stockholder Equity,251635000000.0,222544000000.0,201442000000.0,177628000000.0
Other Current Liab,29208000000.0,28006000000.0,22159000000.0,17612000000.0
Total Assets,359268000000.0,319616000000.0,275909000000.0,232792000000.0
Common Stock,61774000000.0,58510000000.0,50552000000.0,45049000000.0
Other Current Assets,7054000000.0,5490000000.0,4412000000.0,4236000000.0
Retained Earnings,191484000000.0,163401000000.0,152122000000.0,134885000000.0
Other Liab,17173000000.0,15160000000.0,14478000000.0,16532000000.0
Good Will,22956000000.0,21175000000.0,20624000000.0,17888000000.0
Gains Losses Not Affecting Retained Earnings,-1623000000.0,633000000.0,-1232000000.0,-2306000000.0
Other Assets,6645000000.0,5037000000.0,3063000000.0,3430000000.0
Cash,20945000000.0,26465000000.0,18498000000.0,16701000000.0
Total Current Liabilities,64254000000.0,56834000000.0,45221000000.0,34620000000.0
Deferred Long Term Asset Charges,1284000000.0,1084000000.0,721000000.0,737000000.0
Other Stockholder Equity,-1623000000.0,633000000.0,-1232000000.0,-2306000000.0
Property Plant Equipment,110558000000.0,96960000000.0,84587000000.0,59719000000.0
Total Current Assets,188143000000.0,174296000000.0,152578000000.0,135676000000.0
Long Term Investments,29549000000.0,20703000000.0,13078000000.0,13859000000.0
Net Tangible Assets,227262000000.0,199924000000.0,178839000000.0,157520000000.0
Short Term Investments,118704000000.0,110229000000.0,101177000000.0,92439000000.0
Net Receivables,40270000000.0,31384000000.0,27492000000.0,21193000000.0
Long Term Debt,12844000000.0,12832000000.0,3958000000.0,3950000000.0
Inventory,1170000000.0,728000000.0,999000000.0,1107000000.0
Accounts Payable,6037000000.0,5589000000.0,5561000000.0,4378000000.0
Short Long Term Debt,NaN,999000000.0,NaN,NaN

In [10]:
# goog.news

In [18]:
print(goog.stats())

None

In [19]:
goog.get_financials(freq = 'quarterly') # The most recent one we are looking forward to get is Sep one... but how's that goona help?

,2022-06-30,2022-03-31,2021-12-31,2021-09-30
Research Development,9841000000.0,9119000000.0,8708000000.0,7694000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,19014000000.0,18934000000.0,24402000000.0,23064000000.0
Minority Interest,None,None,None,None
Net Income,16002000000.0,16436000000.0,20642000000.0,18936000000.0
Selling General Administrative,10287000000.0,9199000000.0,11744000000.0,8772000000.0
Gross Profit,39581000000.0,38412000000.0,42337000000.0,37497000000.0
Ebit,19453000000.0,20094000000.0,21885000000.0,21031000000.0
Operating Income,19453000000.0,20094000000.0,21885000000.0,21031000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-83000000.0,-83000000.0,-117000000.0,-77000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3012000000.0,2498000000.0,3760000000.0,4128000000.0
Total Revenue,69685000000.0,68011000000.0,75325000000.0,65118000000.0
Total Operating Expenses,50232000000.0,47917000000.0,53440000000.0,44087000000.0
Cost Of Revenue,30104000000.0,29599000000.0,32988000000.0,27621000000.0
Total Other Income Expense Net,-439000000.0,-1160000000.0,2517000000.0,2033000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,16002000000.0,16436000000.0,20642000000.0,18936000000.0
Net Income Applicable To Common Shares,16002000000.0,16436000000.0,20642000000.0,18936000000.0

In [20]:
tickers = [yf.Ticker(stock) for stock in universe_list]
folder = 'new_110_stocks_data_1yr'
i = 0
for ticker in tickers:
    time.sleep(0.5)
   
    name = universe_list[i]
    data = ticker.history(period = '1y', back_adjust=False)
    # get different financial statements
#     pnl = goog.get_financials(freq = 'quarterly')
#     balance_sht = goog.get_balancesheet(freq = 'quarterly')
#     cf = goog.get_cashflow(freq = 'quarterly')
#     full_state = pd.concat([pnl, balance_sht, cf])
#     data = full_state.T
#     data = data.reset_index()
#     data.columns = ['Date', *data.columns[1:]]
    data.to_csv(folder + '/' + name + '.csv')
#     print(name)
    print(name)
    print(i)
    i = i + 1

ABBV
0
ACN
1
AEP
2
AIZ
3
ALLE
4
AMAT
5
AMP
6
AMZN
7
AVB
8
AVY
9
AXP
10
BDX
11
BF-B
12
BMY
13
BR
14
CARR
15
CDW
16
CE
17
CHTR
18
CNC
19
CNP
20
COP
21
CTAS
22
CZR
23
DG
24
DPZ
25
DRE
26
DXC
27
META
28
FTV
29
GOOG
30
GPC
31
HIG
32
HST
33
JPM
34
KR
35
OGN
36
PG
37
PPL
38
PRU
39
PYPL
40
RE
41
ROL
42
ROST
43
UNH
44
URI
45
V
46
VRSK
47
WRK
48
XOM
49
IVV
50
IWM
51
EWU
52
EWG
53
EWL
54
EWQ
55
IEUS
56
EWJ
57
EWT
58
MCHI
59
INDA
60
EWY
61
EWA
62
EWH
63
EWZ
64
EWC
65
IEMG
66
LQD
67
HYG
68
SHY
69
IEF
70
TLT
71
SEGA.L
72
IEAA.L
73
HIGH.L
74
JPEA.L
75
IAU
76
SLV
77
GSG
78
REET
79
ICLN
80
IXN
81
IGF
82
IUVL.L
83
IUMO.L
84
SPMV.L
85
IEVL.L
86
IEFM.L
87
MVEU.L
88
XLK
89
XLF
90
XLV
91
XLE
92
XLY
93
XLI
94
XLC
95
XLU
96
XLP
97
XLB
98
VXX
99
BTC-USD
100
ETH-USD
101
BNB-USD
102
ADA-USD
103
XRP-USD
104
SOL-USD
105
DOGE-USD
106
DOT-USD
107
SHIB-USD
108
AVAX-USD
109

## Get financials

In [58]:
pnl = goog.get_financials(freq = 'quarterly')
balance_sht = goog.get_balancesheet(freq = 'quarterly')
cf = goog.get_cashflow(freq = 'quarterly')
full_state = pd.concat([pnl, balance_sht, cf])

In [59]:
full_state

,2022-06-30,2022-03-31,2021-12-31,2021-09-30
Research Development,9841000000.0,9119000000.0,8708000000.0,7694000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,19014000000.0,18934000000.0,24402000000.0,23064000000.0
Minority Interest,None,None,None,None
Net Income,16002000000.0,16436000000.0,20642000000.0,18936000000.0
...,...,...,...,...
Other Cashflows From Investing Activities,221000000.0,355000000.0,100000000.0,388000000.0
Change To Account Receivables,-1969000000.0,4364000000.0,-5819000000.0,-2409000000.0
Other Cashflows From Financing Activities,-2264000000.0,-2916000000.0,-2923000000.0,-2602000000.0
Change To Netincome,3738000000.0,3991000000.0,3078000000.0,493000000.0
Capital Expenditures,-6828000000.0,-9786000000.0,-6383000000.0,-6819000000.0

In [62]:
data = balance_sht.T

In [63]:
data = data.reset_index()

In [64]:
data.columns = ['Date', *data.columns[1:]]

In [73]:
tickers = [yf.Ticker(stock) for stock in universe_list]
folder = 'Stocks Financials'
i = 0
for ticker in tickers:
    time.sleep(0.5)
   
    name = universe_list[i]
    # get different financial statements
    pnl = goog.get_financials(freq = 'quarterly')
    balance_sht = goog.get_balancesheet(freq = 'quarterly')
    cf = goog.get_cashflow(freq = 'quarterly')
    full_state = pd.concat([pnl, balance_sht, cf])
    data = full_state.T
    data = data.reset_index()
    data.columns = ['Date', *data.columns[1:]]
    data.to_csv(folder + '/financials of ' + name + ' .csv')
#     print(name)
    print(name)
    print(i)
    i = i + 1

ABBV
0
ACN
1
AEP
2
AIZ
3
ALLE
4
AMAT
5
AMP
6
AMZN
7
AVB
8
AVY
9
AXP
10
BDX
11
BF-B
12
BMY
13
BR
14
CARR
15
CDW
16
CE
17
CHTR
18
CNC
19
CNP
20
COP
21
CTAS
22
CZR
23
DG
24
DPZ
25
DRE
26
DXC
27
META
28
FTV
29
GOOG
30
GPC
31
HIG
32
HST
33
JPM
34
KR
35
OGN
36
PG
37
PPL
38
PRU
39
PYPL
40
RE
41
ROL
42
ROST
43
UNH
44
URI
45
V
46
VRSK
47
WRK
48
XOM
49
IVV
50
IWM
51
EWU
52
EWG
53
EWL
54
EWQ
55
IEUS
56
EWJ
57
EWT
58
MCHI
59
INDA
60
EWY
61
EWA
62
EWH
63
EWZ
64
EWC
65
IEMG
66
LQD
67
HYG
68
SHY
69
IEF
70
TLT
71
SEGA.L
72
IEAA.L
73
HIGH.L
74
JPEA.L
75
IAU
76
SLV
77
GSG
78
REET
79
ICLN
80
IXN
81
IGF
82
IUVL.L
83
IUMO.L
84
SPMV.L
85
IEVL.L
86
IEFM.L
87
MVEU.L
88
XLK
89
XLF
90
XLV
91
XLE
92
XLY
93
XLI
94
XLC
95
XLU
96
XLP
97
XLB
98
VXX
99
BTC-USD
100
ETH-USD
101
BNB-USD
102
ADA-USD
103
XRP-USD
104
SOL-USD
105
DOGE-USD
106
DOT-USD
107
SHIB-USD
108
AVAX-USD
109

In [69]:
tickers

[yfinance.Ticker object <ABBV>,
 yfinance.Ticker object <ACN>,
 yfinance.Ticker object <AEP>,
 yfinance.Ticker object <AIZ>,
 yfinance.Ticker object <ALLE>,
 yfinance.Ticker object <AMAT>,
 yfinance.Ticker object <AMP>,
 yfinance.Ticker object <AMZN>,
 yfinance.Ticker object <AVB>,
 yfinance.Ticker object <AVY>,
 yfinance.Ticker object <AXP>,
 yfinance.Ticker object <BDX>,
 yfinance.Ticker object <BF-B>,
 yfinance.Ticker object <BMY>,
 yfinance.Ticker object <BR>,
 yfinance.Ticker object <CARR>,
 yfinance.Ticker object <CDW>,
 yfinance.Ticker object <CE>,
 yfinance.Ticker object <CHTR>,
 yfinance.Ticker object <CNC>,
 yfinance.Ticker object <CNP>,
 yfinance.Ticker object <COP>,
 yfinance.Ticker object <CTAS>,
 yfinance.Ticker object <CZR>,
 yfinance.Ticker object <DG>,
 yfinance.Ticker object <DPZ>,
 yfinance.Ticker object <DRE>,
 yfinance.Ticker object <DXC>,
 yfinance.Ticker object <META>,
 yfinance.Ticker object <FTV>,
 yfinance.Ticker object <GOOG>,
 yfinance.Ticker object <GPC>,
 yfinance.Ticker object <HIG>,
 yfinance.Ticker object <HST>,
 yfinance.Ticker object <JPM>,
 yfinance.Ticker object <KR>,
 yfinance.Ticker object <OGN>,
 yfinance.Ticker object <PG>,
 yfinance.Ticker object <PPL>,
 yfinance.Ticker object <PRU>,
 yfinance.Ticker object <PYPL>,
 yfinance.Ticker object <RE>,
 yfinance.Ticker object <ROL>,
 yfinance.Ticker object <ROST>,
 yfinance.Ticker object <UNH>,
 yfinance.Ticker object <URI>,
 yfinance.Ticker object <V>,
 yfinance.Ticker object <VRSK>,
 yfinance.Ticker object <WRK>,
 yfinance.Ticker object <XOM>,
 yfinance.Ticker object <IVV>,
 yfinance.Ticker object <IWM>,
 yfinance.Ticker object <EWU>,
 yfinance.Ticker object <EWG>,
 yfinance.Ticker object <EWL>,
 yfinance.Ticker object <EWQ>,
 yfinance.Ticker object <IEUS>,
 yfinance.Ticker object <EWJ>,
 yfinance.Ticker object <EWT>,
 yfinance.Ticker object <MCHI>,
 yfinance.Ticker object <INDA>,
 yfinance.Ticker object <EWY>,
 yfinance.Ticker object <EWA>,
 yfinance.Ticker object <EWH>,
 yfinance.Ticker object <EWZ>,
 yfinance.Ticker object <EWC>,
 yfinance.Ticker object <IEMG>,
 yfinance.Ticker object <LQD>,
 yfinance.Ticker object <HYG>,
 yfinance.Ticker object <SHY>,
 yfinance.Ticker object <IEF>,
 yfinance.Ticker object <TLT>,
 yfinance.Ticker object <SEGA.L>,
 yfinance.Ticker object <IEAA.L>,
 yfinance.Ticker object <HIGH.L>,
 yfinance.Ticker object <JPEA.L>,
 yfinance.Ticker object <IAU>,
 yfinance.Ticker object <SLV>,
 yfinance.Ticker object <GSG>,
 yfinance.Ticker object <REET>,
 yfinance.Ticker object <ICLN>,
 yfinance.Ticker object <IXN>,
 yfinance.Ticker object <IGF>,
 yfinance.Ticker object <IUVL.L>,
 yfinance.Ticker object <IUMO.L>,
 yfinance.Ticker object <SPMV.L>,
 yfinance.Ticker object <IEVL.L>,
 yfinance.Ticker object <IEFM.L>,
 yfinance.Ticker object <MVEU.L>,
 yfinance.Ticker object <XLK>,
 yfinance.Ticker object <XLF>,
 yfinance.Ticker object <XLV>,
 yfinance.Ticker object <XLE>,
 yfinance.Ticker object <XLY>,
 yfinance.Ticker object <XLI>,
 yfinance.Ticker object <XLC>,
 yfinance.Ticker object <XLU>,
 yfinance.Ticker object <XLP>,
 yfinance.Ticker object <XLB>,
 yfinance.Ticker object <VXX>,
 yfinance.Ticker object <BTC-USD>,
 yfinance.Ticker object <ETH-USD>,
 yfinance.Ticker object <BNB-USD>,
 yfinance.Ticker object <ADA-USD>,
 yfinance.Ticker object <XRP-USD>,
 yfinance.Ticker object <SOL-USD>,
 yfinance.Ticker object <DOGE-USD>,
 yfinance.Ticker object <DOT-USD>,
 yfinance.Ticker object <SHIB-USD>,
 yfinance.Ticker object <AVAX-USD>]

In [4]:
def get_key_stats(website):
#     url = 'https://finance.yahoo.com/quote/WDC/key-statistics?p=WDC'
    r = requests.get(website,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})

    result_df = pd.read_html(r.text)[0].rename(columns = {'Unnamed: 0': 'Title', 'As of Date: 9/27/2022Current' : 'Current'})
    return result_df

In [79]:
url = 'https://finance.yahoo.com/quote/XLV/holdings?p=XLV'
r = requests.get(url,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
result_df = pd.read_html(r.text)
result_df

[                           Name Symbol % Assets
 0             Johnson & Johnson    JNJ    9.19%
 1        UnitedHealth Group Inc    UNH    8.01%
 2                    Pfizer Inc    PFE    4.64%
 3           Abbott Laboratories    ABT    4.36%
 4                    AbbVie Inc   ABBV    4.21%
 5  Thermo Fisher Scientific Inc    TMO    4.20%
 6                Merck & Co Inc    MRK    4.17%
 7              Eli Lilly and Co    LLY    3.87%
 8                  Danaher Corp    DHR    3.61%
 9                 Medtronic PLC    MDT    3.54%]

In [3]:
# universe_list

array(['Unnamed: 0', 'As of Date: 9/27/2022Current', '6/30/2022',
       '3/31/2022', '12/31/2021', '9/30/2021'], dtype=object)

In [3]:
# universe_list

In [28]:
cwd = os.getcwd()

In [29]:
cwd

'C:\\Users\\10535\\Data Analytics in Finance'

In [74]:
url_prefix = 'https://finance.yahoo.com/quote/{0}/key-statistics?p={0}'
all_result_df = pd.DataFrame()
for name in universe_list[:50]: # this only works for one type of stocks.. first 49 stocks
    time.sleep(0.5)
    stock_url = url_prefix.format(name)
    new_df = get_key_stats(stock_url)
#     if len(all_result_df) == 0:
#         all_result_df = new_df
#         print(name)

    try:
        new_df.to_csv('First 49 stocks stats/Stock Stats of ' + name + ' .csv')
    except:
        print(name)

In [24]:
all_result_df

,Title,As of Date: 9/30/2022Current_x,6/30/2022_x,3/31/2022_x,12/31/2021_x,9/30/2021_x,As of Date: 9/30/2022Current_y,8/31/2022_x,5/31/2022_x,2/28/2022_x,...,As of Date: 9/30/2022Current_y,6/30/2022_y,3/31/2022_y,12/31/2021_y,9/30/2021_y,As of Date: 9/30/2022Current,6/30/2022,3/31/2022,12/31/2021,9/30/2021
0,Market Cap (intraday),252.34B,270.79B,286.43B,239.43B,190.69B,163.37B,182.46B,188.76B,200.17B,...,7.98B,10.13B,12.19B,11.68B,13.20B,369.59B,356.92B,347.91B,259.38B,249.02B
1,Enterprise Value,315.31B,336.69B,353.28B,307.90B,264.23B,158.80B,179.25B,186.84B,198.01B,...,15.70B,18.15B,20.14B,19.58B,21.33B,397.61B,393.38B,388.82B,311.22B,306.17B
2,Trailing P/E,20.19,21.97,25.13,32.71,29.15,24.11,27.98,30.06,32.85,...,9.02,13.41,14.52,14.17,NaN,9.70,14.20,15.32,NaN,NaN
3,Forward P/E,12.22,10.93,11.48,9.65,7.78,22.68,23.87,24.45,29.94,...,6.59,7.81,10.11,8.83,8.59,8.26,8.25,10.34,10.92,11.79
4,PEG Ratio (5 yr expected),NaN,NaN,NaN,NaN,NaN,2.64,2.03,1.97,2.50,...,NaN,NaN,NaN,NaN,NaN,1.53,1.52,1.91,NaN,NaN
5,Price/Sales (ttm),4.42,4.80,5.13,4.36,3.57,2.70,3.12,3.39,3.80,...,0.40,0.53,0.65,0.63,0.73,1.08,1.19,1.28,1.08,1.17
6,Price/Book (mrq),17.22,16.63,18.59,17.67,15.17,7.39,8.53,9.15,9.84,...,0.70,0.88,1.04,1.00,1.15,2.08,2.11,2.06,1.62,1.57
7,Enterprise Value/Revenue,5.50,23.09,26.10,20.68,18.42,2.58,11.62,11.56,13.16,...,0.75,3.29,3.74,3.95,4.19,1.13,3.54,4.43,3.83,4.26
8,Enterprise Value/EBITDA,12.84,88.81,46.92,45.08,41.22,14.01,64.18,61.65,76.45,...,5.11,18.47,40.19,27.68,24.25,4.99,13.30,22.06,17.67,20.67

In [13]:
df_1 = get_key_stats('https://finance.yahoo.com/quote/XLV/key-statistics?p=XLV')

In [14]:
df_1

,Title,As of Date: 9/30/2022Current,6/30/2022,3/31/2022,12/31/2021,9/30/2021
0,Market Cap (intraday),1.27T,1.43T,1.84T,1.92T,1.77T
1,Enterprise Value,1.18T,1.32T,1.72T,1.80T,1.67T
2,Trailing P/E,18.27,19.79,24.89,27.89,28.92
3,Forward P/E,16.23,19.23,24.33,25.64,25.38
4,PEG Ratio (5 yr expected),1.21,0.77,0.97,0.83,0.74
5,Price/Sales (ttm),4.72,5.45,7.35,8.23,8.26
6,Price/Book (mrq),5.01,5.63,7.31,7.83,7.46
7,Enterprise Value/Revenue,4.24,18.97,25.36,23.94,25.59
8,Enterprise Value/EBITDA,11.76,57.49,75.65,64.49,63.02

In [15]:
all_result_df.merge(df_1, on = 'Title')

,Title,As of Date: 9/30/2022Current_x,6/30/2022_x,3/31/2022_x,12/31/2021_x,9/30/2021_x,As of Date: 9/30/2022Current_y,6/30/2022_y,3/31/2022_y,12/31/2021_y,9/30/2021_y
0,Market Cap (intraday),252.34B,270.79B,286.43B,239.43B,190.69B,1.27T,1.43T,1.84T,1.92T,1.77T
1,Enterprise Value,315.31B,336.69B,353.28B,307.90B,264.23B,1.18T,1.32T,1.72T,1.80T,1.67T
2,Trailing P/E,20.19,21.97,25.13,32.71,29.15,18.27,19.79,24.89,27.89,28.92
3,Forward P/E,12.22,10.93,11.48,9.65,7.78,16.23,19.23,24.33,25.64,25.38
4,PEG Ratio (5 yr expected),NaN,NaN,NaN,NaN,NaN,1.21,0.77,0.97,0.83,0.74
5,Price/Sales (ttm),4.42,4.80,5.13,4.36,3.57,4.72,5.45,7.35,8.23,8.26
6,Price/Book (mrq),17.22,16.63,18.59,17.67,15.17,5.01,5.63,7.31,7.83,7.46
7,Enterprise Value/Revenue,5.50,23.09,26.10,20.68,18.42,4.24,18.97,25.36,23.94,25.59
8,Enterprise Value/EBITDA,12.84,88.81,46.92,45.08,41.22,11.76,57.49,75.65,64.49,63.02

In [18]:
df_1 = df_1.merge(all_result_df, on = 'Title')

In [19]:
df_1

,Title,As of Date: 9/30/2022Current_x,6/30/2022_x,3/31/2022_x,12/31/2021_x,9/30/2021_x,As of Date: 9/30/2022Current_y,6/30/2022_y,3/31/2022_y,12/31/2021_y,9/30/2021_y
0,Market Cap (intraday),1.27T,1.43T,1.84T,1.92T,1.77T,252.34B,270.79B,286.43B,239.43B,190.69B
1,Enterprise Value,1.18T,1.32T,1.72T,1.80T,1.67T,315.31B,336.69B,353.28B,307.90B,264.23B
2,Trailing P/E,18.27,19.79,24.89,27.89,28.92,20.19,21.97,25.13,32.71,29.15
3,Forward P/E,16.23,19.23,24.33,25.64,25.38,12.22,10.93,11.48,9.65,7.78
4,PEG Ratio (5 yr expected),1.21,0.77,0.97,0.83,0.74,NaN,NaN,NaN,NaN,NaN
5,Price/Sales (ttm),4.72,5.45,7.35,8.23,8.26,4.42,4.80,5.13,4.36,3.57
6,Price/Book (mrq),5.01,5.63,7.31,7.83,7.46,17.22,16.63,18.59,17.67,15.17
7,Enterprise Value/Revenue,4.24,18.97,25.36,23.94,25.59,5.50,23.09,26.10,20.68,18.42
8,Enterprise Value/EBITDA,11.76,57.49,75.65,64.49,63.02,12.84,88.81,46.92,45.08,41.22

In [24]:
universe = list(universe.symbol)

In [3]:
# universe

In [78]:
r = requests.get('https://finance.yahoo.com/quote/ACN?p=ACN&.tsrc=fin-srch') 
soup = bs(r.content, 'lxml') 
# print(soup.prettify()[:300]) 
div_tag = soup.find('div', attrs={'id':'quote-summary'}) # all the information

# Left section
left = div_tag.find('div', {'data-test': 'left-summary-table'})

# <td class="Ta(end) Fw(600) Lh(14px)" data-test="FIFTY_TWO_WK_RANGE-value">256.20 - 417.37</td>
stats_1 = left.find_all('td', {'class': 'Ta(end) Fw(600) Lh(14px)'})

dict_0 = dict()
for element in stats_1:
    dict_0[element.get('data-test')[:-6]] = element.get_text()
    
# right section
right = div_tag.find('div', {'data-test': 'right-summary-table'})
# print(right)
stats_2 = right.find_all('td', {'class': 'Ta(end) Fw(600) Lh(14px)'})

for element in stats_2:
    dict_0[element.get('data-test')[:-6]] = element.get_text()
        
df_0 = pd.DataFrame.from_dict(dict_0, orient ='index') 
df_0 = df_0.rename(columns = {0: 'AAPL'})
df_0.index.name = 'id'

In [79]:
df_0

                                  AAPL
id
PREV_CLOSE                      262.32
OPEN                            259.14
BID                       255.45 x 900
ASK                      261.32 x 1100
DAYS_RANGE             256.20 - 260.33
FIFTY_TWO_WK_RANGE     256.20 - 417.37
TD_VOLUME                    3,100,118
AVERAGE_VOLUME_3MONTH        1,967,831
MARKET_CAP                    164.582B
BETA_5Y                           1.22
PE_RATIO                         24.27
EPS_RATIO                        10.71
EARNINGS_DATE             Dec 16, 2022
DIVIDEND_AND_YIELD        4.48 (1.72%)
EX_DIVIDEND_DATE          Oct 12, 2022
ONE_YEAR_TARGET_PRICE           315.34

In [69]:
dict_de = dict()
for key, value in dict_0.items():
    dict_de[key] = 0

In [70]:
dict_de

{'PREV_CLOSE': 0,
 'OPEN': 0,
 'BID': 0,
 'ASK': 0,
 'DAYS_RANGE': 0,
 'FIFTY_TWO_WK_RANGE': 0,
 'TD_VOLUME': 0,
 'AVERAGE_VOLUME_3MONTH': 0,
 'MARKET_CAP': 0,
 'BETA_5Y': 0,
 'PE_RATIO': 0,
 'EPS_RATIO': 0,
 'EARNINGS_DATE': 0,
 'DIVIDEND_AND_YIELD': 0,
 'EX_DIVIDEND_DATE': 0,
 'ONE_YEAR_TARGET_PRICE': 0}

In [71]:
df = pd.DataFrame.from_dict(dict_de, orient ='index')

In [72]:
df.index.name = 'id'
# dict_de.index.name = 'id'

In [77]:
df

                       ACN
id
PREV_CLOSE               0
OPEN                     0
BID                      0
ASK                      0
DAYS_RANGE               0
FIFTY_TWO_WK_RANGE       0
TD_VOLUME                0
AVERAGE_VOLUME_3MONTH    0
MARKET_CAP               0
BETA_5Y                  0
PE_RATIO                 0
EPS_RATIO                0
EARNINGS_DATE            0
DIVIDEND_AND_YIELD       0
EX_DIVIDEND_DATE         0
ONE_YEAR_TARGET_PRICE    0

In [76]:



for stocks in universe[1:]:
    time.sleep(1)
    r = requests.get('https://finance.yahoo.com/quote/'+ stocks +'?p=' + stocks + '&.tsrc=fin-srch') 
    try:
        
#         if r.status_code != 200:
#             print('unavailable sites' + stocks)
#             break
    
        soup = bs(r.content, 'lxml') 
        # print(soup.prettify()[:300]) 
        div_tag = soup.find('div', attrs={'id':'quote-summary'}) # all the information

        # Left section
        left = div_tag.find('div',{'data-test':'left-summary-table'})
        # <td class="Ta(end) Fw(600) Lh(14px)" data-test="FIFTY_TWO_WK_RANGE-value">256.20 - 417.37</td>
        stats_1 = left.find_all('td', {'class': 'Ta(end) Fw(600) Lh(14px)'})

        dict_1 = dict()
        for element in stats_1:
            dict_1[element.get('data-test')[:-6]] = element.get_text()

        # right section
        right = div_tag.find('div', {'data-test':'right-summary-table'})
        stats_2 = right.find_all('td', {'class': 'Ta(end) Fw(600) Lh(14px)'})

        for element in stats_2:
            dict_1[element.get('data-test')[:-6]] = element.get_text()

        df_1 = pd.DataFrame.from_dict(dict_1, orient ='index').rename(columns ={0: stocks})
    #     df_0 =  pd.merge(df_0, df_1, how ='left', on = 'id')
        df_0 = df_0.join(df_1)
    except :
        df = df.rename(columns = {0: stocks})
        df_0 = df_0.join(df)
        continue

ValueError: columns overlap but no suffix specified: Index(['ACN'], dtype='object')

In [57]:
df_0

,AAPL,ACN,AEP,AIZ
id,,,,
PREV_CLOSE,152.74,262.32,98.88,163.70
OPEN,151.19,259.14,98.15,164.26
BID,150.52 x 1100,255.45 x 900,97.77 x 900,163.63 x 1200
ASK,150.56 x 800,261.32 x 1100,98.02 x 1300,163.75 x 800
DAYS_RANGE,148.56 - 151.47,256.20 - 260.33,96.49 - 98.28,163.07 - 165.14
FIFTY_TWO_WK_RANGE,129.04 - 182.94,256.20 - 417.37,80.22 - 105.60,144.18 - 194.12
TD_VOLUME,"96,029,909","3,100,118","2,096,852","133,527"
AVERAGE_VOLUME_3MONTH,"75,663,236","1,967,831","2,442,704","436,214"
MARKET_CAP,2.418T,164.582B,50.212B,8.707B
BETA_5Y,1.23,1.22,0.34,0.55
PE_RATIO,24.86,24.27,19.28,19.30
EPS_RATIO,6.05,10.71,5.07,8.48
EARNINGS_DATE,"Oct 26, 2022 - Oct 31, 2022","Dec 16, 2022","Oct 26, 2022 - Oct 31, 2022","Oct 31, 2022 - Nov 04, 2022"
DIVIDEND_AND_YIELD,0.92 (0.61%),4.48 (1.72%),3.12 (3.19%),2.72 (1.66%)
EX_DIVIDEND_DATE,"Aug 05, 2022","Oct 12, 2022","Aug 09, 2022","Aug 26, 2022"
ONE_YEAR_TARGET_PRICE,182.01,315.34,107.81,198.00

In [59]:
universe.pop('EWL')

TypeError: 'str' object cannot be interpreted as an integer

In [20]:
df_0.index.name = 'id'

In [22]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, PREV_CLOSE to ONE_YEAR_TARGET_PRICE
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   16 non-null     object
dtypes: object(1)
memory usage: 256.0+ bytes